<form class="mt-4">
  <div class="form-group">
    <label for="search-input">Search</label>
    <input type="text" name="search-input" class="form-control" id="search-input" placeholder="Thông tin muốn tra cứu">
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>